html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

#game {
  top: 50%;
  left: 50%;
  width: 320px;
  height: 480px;
  position: absolute;
  margin-top: -240px;
  margin-left: -160px;
}
